__pycache__/run_tiketa.cpython-313.pyc
agent/__pycache__/workflow.cpython-313.pyc
data/__pycache__/__init__.cpython-313.pyc
data/__pycache__/movies.cpython-313.pyc
data/__pycache__/seats.cpython-313.pyc
db/__pycache__/__init__.cpython-313.pyc
db/__pycache__/schema.cpython-313.pyc
db/__pycache__/seed.cpython-313.pyc
tools/__pycache__/__init__.cpython-313.pyc
tools/__pycache__/bookings.cpython-313.pyc
.env
